@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    position: absolute;
    background-color: beige;
}

* {
    margin: 0;
    padding: 0;
    /* width: 100%;
    height: auto; */

}

.sidebar {
    position: absolute;
    background-color: rgb(9, 3, 3);
    font-family: 'Fira sans', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;

}

.sidebar nav li a {
    text-decoration: none;
    color: rgb(248, 243, 243);
}

.main {
    /* background-color: rgb(225, 225, 180); */
    width: 100vw;
}

.container {
    display: flex;
    background-color: antiquewhite;
}

.infoContainer {
    /* background-color: rgb(159, 198, 228); */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}


.devInfo {
    display: flex;
    font-size: 16px;
    justify-content: center;
    flex-direction: column;
    font-family: "Source Code Pro", monospace;
    padding-left: 10px;
}

.hello {
    font-size: 3em;
}

.name {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Fira sans', sans-serif;
}

.about {
    font-size: 40px;
}

.moreabout {
    font-size: 2em;
    font-family: 'Fira sans', sans-serif;
    margin-top: 23px;
}

.buttons {
    margin-top: 2.2em;
    font-size: 16px;

}

.btn {
    font-size: 2em;
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: rgb(10, 40, 30);
    font-weight: bold;
    margin: 3 3px;
    cursor: pointer;
}

.btn-sm {
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}

.btn:hover {
    background-color: white;
    color: rgb(10, 40, 30);
}

.devPic img {
    height: 58vh;
}

.contactform {
    padding: 0 34px;
    font-family: 'Fira Sans', sans-serif;
    margin: 88px;
}

.contactform h1 {
    font-family: "Source Code Pro", monospace;
    padding-left: 150px;
    /* padding: 12px 0; */
}

.container form {
    margin: 0 40px;
    padding-left: 150px;
}

.contactform form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    /* width: 26vw; */
    border-radius: 5px;
    margin: 0 5px;
    padding: 3px;
}


#emailHelp {
    font-size: 8px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 25px;
    margin: 3px 0;
}

.blogcontainer {
    margin: 80px 88px;
    padding-left: 150px;
}

.blogitem {
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    margin: 23px;
    font-family: 'Fira Sans', sans-serif;
}

p {
    font-family: "Source Code Pro", monospace;
}

.intro {
    margin: 80px 90px;
    padding: 0 150px;
}

.intro h2 {
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;
}

.intro p {
    font-family: "Source Code Pro", monospace;
    margin: 12px;
}

.skillcontainer {
    padding: 12px;
}

.skillitem {
    display: flex;
    align-items: center;
    font-family: "Source Code Pro", monospace;
    font-weight: 900;
}

.skills {
    width: 265px;
    height: 6px;
    background-color: rgb(171, 49, 49);
    border: 2px solid black;
}

.hundred {
    width: 265px;
    background-color: blueviolet;
}

.fifty {
    width: 125px;
    background-color: aqua;
}

.t5 {
    width: 75px;
    background-color: yellow;
}

.sidebargo {
    transform: translate(-443px, 0px);
    position: absolute;

}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.ham {
    margin-top: 10px;
    margin-left: 10px;
    background-color: white;
}

.cross {
    margin-left: 155px;
    margin-top: 10px;
    background-color: white;
}

@media(max-width:1615px) {
    * {
        /* background-color: rgb(180, 100, 100); */
    }

    .devPic {
        display: none;
    }

    .buttons {
        font-size: 6px;
    }

    .devInfo {
        font-size: 10px;
    }

    .devPic {
        display: none;
    }

    .intro,
    .blogcontainer,
    .contactform {
        margin: 50px 8px;
    }
}